<article class="card theme-<%= post.org || "default" %>">
  <h2><a href="<%= post.url_path %>"><%= post.title %></a></h2>
  <time datetime="<%= post.published_datetime %>"><%= post.published_date %></time>
  <p class="excerpt"><%= post.excerpt %></p>
  <div class="summary"><%== post.html_summary %></div>
<%- if post.featured -%>
  <span class="badge">Featured</span>
<%- end -%>
</article>
