<li class="<%= todo.completed ? "completed" : "" %><%= todo.editing ? " editing" : "" %>" data-id="<%= todo.id %>" data-defo-todo-item="<%= todo.to_json %>"><%= render "todo_item_content", todo: todo %></li>
