<li class="<%= todo.completed ? "completed" : "" %>" id="todo-<%= todo.id %>" data-id="<%= todo.id %>" data-defo-todo-item="{}">
  <div class="view">
    <input class="toggle" type="checkbox" <%= todo.completed ? "checked" : "" %>>
    <label><%= todo.title %></label>
    <button class="destroy"></button>
  </div>
  <input class="edit" value="<%= todo.title %>">
</li>
